@model IEnumerable<mix_coffeeshop_web.Models.Order>

<div class="row">
    <div class="col-md-10 col-sm-4">
        <h3>ประวัติการสั่งซื้อ</h3>
    </div>
</div>
@foreach(var order in Model)
{
    <div class="media well h3">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-4">
                    @if(order.OrderedProducts.Count() > 1) {
                        <div class="row">
                            @foreach(var product in order.OrderedProducts) {
                                <div class="col-sm-6 text-center h4">
                                    <img src="@product.ThumbURL" class="img-responsive" />
                                    <br />
                                    @product.Name
                                </div>
                            }
                        </div>
                    } else {
                        <div class="row">
                            @foreach(var product in order.OrderedProducts) {
                                <div class="col-sm-12 text-center h4">
                                    <img src="@product.ThumbURL" class="img-responsive" />
                                    <br />
                                    @product.Name
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="col-sm-6">
                    <span class="glyphicon glyphicon-user"></span> @order.Username
                    <br />
                    <span class="glyphicon glyphicon-calendar"></span> @order.OrderDate
                    <br />
                    <span class="glyphicon glyphicon-barcode"></span> @order.ReferenceCode
                </div>
                <div class="col-sm-2 text-right">
                    ฿ @order.OrderedProducts.Sum(op => op.Price)
                </div>
            </div>
        </div>
    </div>
}
